apiVersion: v1
kind: Service
metadata:
  name: sdthai-web
  labels:
    app: sdthai-web
    component: frontend
spec:
  type: ClusterIP
  ports:
  - port: 3000
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: sdthai-web
