apiVersion: apps/v1
kind: Deployment
metadata:
  name: sdthai-api
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: api
        env:
        - name: NODE_ENV
          value: "development"
        - name: LOG_LEVEL
          value: "debug"
