apiVersion: apps/v1
kind: Deployment
metadata:
  name: sdthai-web
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: web
        env:
        - name: NODE_ENV
          value: "development"
