apiVersion: v1
kind: Service
metadata:
  name: sdthai-api
  labels:
    app: sdthai-api
    component: backend
spec:
  type: ClusterIP
  ports:
  - port: 3000
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: sdthai-api
